.o_kanban_renderer.o_kanban_dashboard.o_kanban_hr_employee.o_kanban_ungrouped {
	.o_kanban_record {

        .o_kanban_image {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }


	}
}

.div_align {
    position: relative;
    text-align: center;

}

.div_align .o_text_block {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle;
    width: 100%;

}